<?xml version="1.0"?>

<model>
  <name>library_bookshelf_twosided</name>
  <version>1.0</version>
  <sdf version='1.0'>model.sdf</sdf>

  <author>
    <name>Amar Halilovic</name>
    <email>amar.halilovic@uni-ulm.de</email>
  </author>

  <description>
    A wooden library bookshelf two-sided.
  </description>
</model>
